<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.merrill.dao.mapper.UserMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <insert id="register">
        INSERT INTO user_info(email, password) VALUES (#{email}, #{password})
    </insert>
    <select id="getUserByEmail" resultType="UserInfo">
        SELECT * FROM user_info WHERE email = #{email}
    </select>

</mapper>